.btn {
  display: inline-block;
  padding: .25rem .5rem;
  border-radius: 0;
  cursor: pointer;
  border: none;
  
  &.btn-mark-read {
    color: #fff;
    background-color: rgba(#006400, 1);

    &:hover {
      background-color: rgba(#006400, .8);
    }
  }
  &.btn-set-fav {
    color: #fff;
    background-color: rgba(#a5091e, 1);

    &:hover {
      background-color: rgba(#a5091e, .8);
    }
  }
}